body {
  background-color: #3feee6;
}

.card {
  background-color: #97CAEF;  
}

.p-5 {
  padding: 2rem !important;
}

.nav-link {
  text-align: right;
}
.btn-lg {
  margin-top: 2rem;
}

p,h5 {
  margin-bottom: 0px;
}

.navbar-collapse {
  flex-grow: 0;
}

.cardimg {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  padding: 0 0 0 1rem;
}

.btn-lg:hover {
  color: black; 
  background-color: #CAFAFE;
}


.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #CAFAFE;
}

.modal-dialog {
  max-width: 560px;
  top: 10rem;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #3FEEE6;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #55BCC9;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color:#00bcd4; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #3FEEE6; 
}
.autocomplete-active {
  background-color:  #3FEEE6 !important; 
  color: #212d2e; 
}

.form-control {
  border: 1px solid #5fb3f0;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(14 121 113 / 46%);
  background-color: #3FEEE6;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgb(14 121 113 / 46%);
  background-color: #3FEEE6;
  
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.list {
  opacity: 1;
}

#modal-result {
  display: none;
}


#one,
#two,
#three,
#four,
#five
 {
  opacity: 0;
}